@import '../../../styles/fonts.css';
@import '../../../styles/colors.css';
.controls-wrapper {
  margin: 0 auto;
}

.left-control {
  float: left;
}

.right-control {
  float: right;
}

.spinner-container {
  width: 20em;
  height: 7em;
  left: calc(50% - 40px);
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-controls {
  margin: 0 auto;
  width: 50%;
}

.control-group {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.control-label {
  box-sizing: border-box;
  display: inline-block;
  width: 35%;
  font-size: var(--font-md);
  color: var(--dark);
}

.control-input {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 1em;
  width: 20%;
}

.extended-control-label {
  box-sizing: border-box;
  display: inline-block;
  width: 35%;
  font-size: var(--font-md);
  color: var(--dark);
}

.extended-control-input {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 1em;
  width: 40%;
}