{
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ],
      "plugins": [
        "transform-object-rest-spread",
        [
          "react-css-modules",
          {
            "generateScopedName": "[path]___[name]__[local]___[hash:base64:5]"
          }
        ],
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "react-css-modules",
          {
            "generateScopedName": "[local]"
          }
        ],
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-object-rest-spread",
        [
          "react-css-modules",
          {
            "generateScopedName": "[path]___[name]__[local]___[hash:base64:5]"
          }
        ],
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    }
  }
}