{
    "include": [
      "client/**/*.js",
      "server/**/*.js",
      "client/**/*.jsx"
    ],
    "exclude": [
      "client/**/*.spec.js",
      "server/**/*.spec.js"
    ],
    "extension": [
      ".js",
      ".jsx"
    ],
    "require": [
      "babel-core/register",
      "./utilities/testSetup.js"
    ],
    "reporter": [
      "text",
      "lcov",
      "html"
    ],
    "sourceMap": true,
    "instrument": true
}
