:root {
  --white: #FFF;
  --gray: #999;
  --blue: #3498DB;
  --darkBlue: #006BF2;
  --error: #F44336;
  --darkGray: #778088;
  --textGray: #676A6C;
  --dark: #333;
  --black: #000;
  --typhoon: #EEE;
  --deepGray: #666;
  --ash: #DDD;
  --silver: #CCC;
  --teal: #23C6C8;
  --green: #3FA142;
}