:root {
  --white: #FFF;
  --gray: #999;
  --blue: #3498DB;
  --darkBlue: #006BF2;
  --error: #F44336;
  --darkGray: #778088;
  --dark: #333;
  --black: #000;
  --typhoon: #EEE;
  --deepGray: #666;
}
