  :root {
    --font-xxl: 2.00rem; /* 20px */
    --font-xl: 1.80rem; /* 18px */
    --font-lg: 1.60rem; /* 16px */
    --font-md: 1.40rem; /* 14px */
    --font-sm: 1.20rem; /* 12px */
    --font-xs: 1.0rem; /* 10px */
  }
