@import '../../styles/fonts.css';
@import '../../styles/colors.css';
.controls-wrapper {
  margin: 0 auto;
}

.left-control {
  float: left;
}

.right-control {
  float: right;
}

.spinner-container {
  width: 20em;
  height: 20em;
  left: calc(50% - 40px);
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.additional-items-heading {
  padding: 1em 1em;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.additional-items-container {
  margin-top: 1em;
}

.item-value-text {
  font-size: 16px;
  font-weight: 600;
  padding-right: 0.5rem;
}

.modifier-controls {
  margin: 0 auto;
  width: 50%;
}

.control-group {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.control-label {
  box-sizing: border-box;
  display: inline-block;
  width: 35%;
  font-size: var(--font-md);
  color: var(--dark);
}

.control-input {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 1em;
  width: 20%;
}

.extended-control-label {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  font-size: var(--font-md);
  color: var(--dark);
}

.extended-control-input {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 1em;
  width: 40%;
}

.extended-select-input {
  box-sizing: border-box;
  display: inline-block;
  width: 65%;
  padding-bottom: 5rem;
}
