.controls-wrapper {
  margin: 0 auto;
}

.left-control {
  float: left;
}

.right-control {
  float: right;
}

.spinner-container {
  width: 20em;
  height: 20em;
  left: calc(50% - 40px);
  position: relative;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.additional-items-heading {
  padding: 1em 1em;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.additional-items-container {
  margin-top: 1em;
}